

<div class="clearfix"></div>
<footer>
    <div class="container-fluid">
        <p class="copyright">Copyright &copy; 2017.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
    </div>
</footer>
</div>
<!-- END WRAPPER -->
<!-- Javascript -->
<script src="../../dashboard/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../dashboard/vendor/jquery/jquery.min.js"></script>
<script src="../../dashboard/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="../../dashboard/scripts/klorofil-common.js"></script>
<script src="../../dashboard/vendor/bootstrap/js/bootstrap.js"></script>
<script src="../../../dashboard/scripts/slick.min.js"></script>
